*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.hero__section {
    background: url(./images/heroSectionBackground.png);
    background-position: center;
    background-size: cover;
    color: white;
    min-height: 60vh;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 48px;
    height: 60px;
}
.navbar a {
    text-decoration: none;
    color: white;
}

.navbar__menu__container{
    display: flex;
    gap: 20px;
}
.hero__section__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    height: calc(60vh - 60px);
}
.hero__section__logo{
    width: 300px;
    height: auto;
}
.hero__section__title{
    text-align: center;
    font-size: 30px;
    font-weight: 400px;

}
.hero__section__input__container{
    background: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 50%;
    border-radius: 10px;
    flex-direction: row;
}

.input__container__location, .input__container__search{
    padding: 5px;
    border: none;
    outline: none;

}
.input__container__location{
    width: 35%;
    border-right: 2px solid #e0e0ee;
}
.input__container__search{
    width: 65%;

}

.navbar__menu__container .user__icon {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: solid 1px white;
    display: none;
}

@media only screen and (max-width: 600px) {
   .navbar__menu__container .link {
    display: none;
   }
   .navbar{
    padding: 16px;
   }
   .navbar__menu__container .user__icon {
    display: flex;
    }
    .hero__section{
    min-height: 80vh;
    }
    .hero__section__input__container {
    flex-direction: column;
    background-color: transparent;
    width: 100%;
    }
    .input__container__location, .input__container__search {
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 80%;
    }
    .hero__section__container {
        height: calc(80vh - 60px);
    }
    .hero__section__title {
    font-size: 20px;
    width: 80%;
    }
}

.container {
    margin: 48px auto;
    width: 80%;
}    

.we__offers{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.we__offers .card {
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.we__offers .card:hover {
    transform: scale(1.05);
}

.we__offers .card img {
    width: 250px;
    height: 120px;
    object-fit: cover;
    object-position: center;
}

.we__offers .card h2{
    padding: 0 10px;
    font-size: 10px;
    font-weight: 10px;
}
.we__offers .card p {
    font-size: 10px;
    padding: 0px 10px 10px 10px;
}

.collection {
    font-weight: 600;
}
.sub__heading__container {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5rem;
}
.sub__heading__container span:nth-child(2){
    color: #ff78bf;
    font-size: 13px;
} 
.collection__cards__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 24px;
}

.collection__cards__container .card {
    height: 300px;
    min-width: 240px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}

.collection__cards__container .card1 {
    background: url("./images/collection1.png");

}
.collection__cards__container .card2 {
    background: url("./images/collection2.jpg");

}
.collection__cards__container .card3 {
    background: url("./images/collection3.png");

}
.collection__cards__container .card4 {
    background: url("./images/collection4.png");

}
.collection__cards__container .overlay {
    display: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(
        0deg, rgba(0, 0, 0, 0.9)0%,
        rgba(0, 0, 0, 0.05)50%,
        rgba(0, 0, 0, 0.05)85%);   <!-- 0% bottom: ; to top shad-->
}
.collection__cards__container .card .content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 16px;
    color: white;
    font-size: 14px;
}

.get__the__app {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    lighting-color: rgb(255, 255, 255);
    width: 100%;
    padding: 3rem 6rem;
}

.get__the__app .semiContainer {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.get__the__app .semiContainer .Left{
    flex: 2;
} 
.get__the__app .semiContainer .Left img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.get__the__app .semiContainer .right {
    flex: 4;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.get__the__app .semiContainer .right h1 {
    font-weight: 600;
    font-size: 32px;
}
.get__the__app .semiContainer .right p {
    font-size: 12px;
}
.semiContainer .right .radio__button__container{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 24px;
} 
.semiContainer .right .radio__button__container div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.semiContainer .right .radio__button__container div input {
    height: 15px;
    width: 15px;
    accent-color: rgba(239, 79, 95)
}

.semiContainer .right .input__container {
    display: flex;
    gap: 12px;
}
.semiContainer .right .input__container input, 
.semiContainer .right .input__container button {
    padding: 10px 12px;
}
.semiContainer .right .input__container input{
    border: 1.5px solid gray;
    outline: none;
    border-radius: 5px;
    flex: auto;    
}

.semiContainer .right .input__container button {
    background-color: rgba(239, 79, 95);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.semiContainer .right .input__container button:hover{
    transition: 600ms;
    transform: scale(1.05);
}

.semiContainer .right .download__app__container {
    display: flex;
    flex-direction: column;
    gap: 11.5px;
}

.download__app__images{
    display: flex;
    gap: 18px;
}
.download__app__images img{
    display: flex;
    height: 30%;
    width: 35%;
}

@media only screen and (max-width:1300px) {
    .get__the__app .semiContainer .Left, 
    .get__the__app .semiContainer .Left {
        flex: 1;
    }
    .get__the__app .semiContainer{
        width: 80%;
    }
}
@media only screen and (max-width:900px) {
    .get__the__app{
        padding: 32px;
    }
    .get__the__app .semiContainer{
        width: 90%;
    }
}
@media only screen and (max-width:700px) {
    .get__the__app{
        padding: 3rem, 0;
    }
    .get__the__app .semiContainer{
        width: 80%;
        flex-direction: column;
    }
}
.footer {
    width: 100%;
    background: rgb(248, 248, 248);
    padding: 40px;
}
.footer__section1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.footer__section1 img{
    width: 140px;
}

.footer__buttonContainer {
    display: flex;
    gap: 16px;
    padding: 2rem 0;
}

.footer__buttonContainer button{
    padding: 5px;
    width: 90px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}

.navigation__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 80%;
    margin: auto;
    padding: 3rem 0;
    gap: 1rem;
}

.link__container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.link__container h5{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.8px;
    text-align: left;
    margin-bottom: 5px;
}

.link__container a {
    text-decoration: none;
    color: gray;
    font-size: 13px;
    font-weight: 300;
}

.link__container a:hover{
    color: black;   
}
.social__link__container{
    display: flex;
    gap: 0.5rem;
}

.social__link__container button {
    background-color: black;
    color: white;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
.footer__store__logo {
     width: 70%;
}

@media only screen  and (max-width:900px) {
    .navigation__container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen  and (max-width:500px) {
    .navigation__container{
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen  and (max-width:300px) {
    .footer__section1 {
        flex-wrap: wrap;
        gap: 28px;
    }
    .navigation__container{
        grid-template-columns: 1fr;
    }
}